PORT=3000
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/hotel-management
JWT_SECRET=generate_with__node_-e_console.log(require(crypto).randomBytes(32).toString(hex))
JWT_EXPIRES_IN=7d
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:5173
